.company-container{
  height: calc(100% - 64px);
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}


.company-drawer-container {
  height: 100%;
}

.company-drawer{
  width: 200px
}

.company-add-button-container{
  justify-content: flex-end;
  display: flex;
  margin: 32px;
}


