.company-container{
  height: calc(100% - 64px);
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}


.company-drawer-container {
  height: 100%;
}

.company-drawer{
  width: 200px
}

.title-container{
  height: 64px;
}

.company-list-container{
  height: calc(100% - 64px - 68px);
}

.company-add-button-container{
  position: fixed;
  right: 32px;
  bottom: 32px;
}
.company-add-button{
  width: calc(100% - 32px);
  margin: 16px;
}



