<div class="company-container">
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile  *ngFor="let company of companyList">
      <contact-details-card
        [title]="company.name"
        [firstname]="company.contactPerson.firstname"
        [lastname]="company.contactPerson.lastname"
        [email]="company.contactPerson.email"
        [cell]="company.contactPerson.cell"
        (click)="onSelectCompany(company)"
        class="col-11"
      >
      </contact-details-card>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="company-add-button-container">
    <button mat-fab color="primary" (click)="onCreateNewCompany()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
