<div class="company-container">
  <mat-drawer-container class="company-drawer-container">
    <mat-drawer class="company-drawer" mode="side" opened>
      <h3>Company list</h3>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/companies',1]" >Company 1</a>
        <a mat-list-item [routerLink]="['/companies',2]">Company 2</a>
        <a mat-list-item [routerLink]="['/companies',3]">Company 3</a>
        <a mat-list-item [routerLink]="['/companies',4]">Company 4</a>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet>

      </router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>


  <!--<div class="company-add-button-container">
    <button mat-fab color="primary" aria-label="Add Company">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </div>-->
</div>
