<div>
  <div class="col-6 center">
    <mat-card>
      <form class="" [formGroup]="companyForm">
        <div class="">
          <mat-form-field appearance="outline" class="form-row-input">
            <mat-label>Company Name</mat-label>
            <input
              matInput
              id="company"
              formControlName="companyName"
              placeholder="Company Name"
              [readonly]="editable"
            >
            <!--          <mat-hint>Enter in the name on the company</mat-hint>-->
          </mat-form-field>
        </div>
        <div class="div">
          <mat-form-field appearance="outline" class="form-row-input">
            <mat-label>VAT Number</mat-label>
            <input
              matInput
              id="vatNum"
              formControlName="vatNumber"
              placeholder="00000000"
              [readonly]="editable"
            >
            <!--          <mat-hint>Enter in the VAT Number</mat-hint>-->
          </mat-form-field>
        </div>
        <div class="div">
          <mat-form-field appearance="outline" class="form-row-input">
            <mat-label>Staff Count</mat-label>
            <input
              matInput
              placeholder="36"
              formControlName="staffCount"
              [readonly]="editable"
            >
            <!--          <mat-hint>Enter in the number of staff</mat-hint>-->
          </mat-form-field>
        </div>

        <mat-divider></mat-divider>
        <div class="div" formGroupName="env">
          <p>Working Environment</p>

          <div class="form-row">
            <mat-form-field
              appearance="outline"

              class="form-row-input">
              <mat-label>Industry</mat-label>
              <mat-select formControlName="industry">
                <mat-option value="primary">Primary</mat-option>
                <mat-option value="accent">Accent</mat-option>
                <mat-option value="warn">Warn</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field
              appearance="outline"
              class="form-row-input"

            >
              <mat-label>Business Type</mat-label>
              <mat-select
                formControlName="businessType"
              >
                <mat-option value="primary">Primary</mat-option>
                <mat-option value="accent">Accent</mat-option>
                <mat-option value="warn">Warn</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field
              appearance="outline"

              class="form-row-input"
            >
              <mat-label>Production Style</mat-label>
              <mat-select formControlName="production">
                <mat-option value="primary">Primary</mat-option>
                <mat-option value="accent">Accent</mat-option>
                <mat-option value="warn">Warn</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>

        <mat-divider></mat-divider>

        <div class="div" formGroupName="owner">
          <p>Business owner</p>
          <div class="form-row">
            <mat-form-field appearance="outline" class="form-row-input">
              <mat-label>First Name</mat-label>
              <input
                matInput
                formControlName="firstname"
                placeholder="Peter"
                [readonly]="editable"
              >
              <!--          <mat-hint>Enter in the firstname of the owner</mat-hint>-->
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-row-input">
              <mat-label>Last Name</mat-label>
              <input
                matInput
                formControlName="lastname"
                placeholder="Oliver"
                [readonly]="editable"
              >
              <!--          <mat-hint>Enter in the lastname of the owner</mat-hint>-->
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field appearance="outline" class="form-row-input">
              <mat-label>Cell Number</mat-label>
              <input
                matInput
                formControlName="cell"
                placeholder="026589462"
                [readonly]="editable"
              >
              <!--          <mat-hint>Enter in the cell number of the owner</mat-hint>-->
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-row-input">
              <mat-label>Email</mat-label>
              <input
                matInput
                formControlName="email"
                placeholder="example@gmail.com"
                [readonly]="editable"
              >
              <!--          <mat-hint>Enter in the email of the owner</mat-hint>-->
            </mat-form-field>
          </div>
        </div>
        <div class="col-12 same-as-checkbox-container">
          <div class="">
            <mat-checkbox
              formControlName="sameAsOwner"
              [checked]=sameAsOwner
              (change)="onSameAsOwnerChecked()"
              [disabled] = "editable"
              labelPosition="before"
            >Same As Owner
            </mat-checkbox>
          </div>
        </div>
        <div class="div" formGroupName="contactPerson">
          <p>Contact Person</p>

          <div class="form-row">
            <mat-form-field appearance="outline" class="form-row-input">
              <mat-label>First Name</mat-label>
              <input
                matInput
                formControlName="firstname"
                placeholder="Peter"
              >
              <!--          <mat-hint>Enter in the firstname of the owner</mat-hint>-->
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-row-input">
              <mat-label>Last Name</mat-label>
              <input
                matInput
                formControlName="lastname"
                placeholder="Oliver">
              <!--          <mat-hint>Enter in the lastname of the owner</mat-hint>-->
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field appearance="outline" class="form-row-input">
              <mat-label>Cell Number</mat-label>
              <input
                matInput
                formControlName="cell"
                placeholder="026589462"
              >
              <!--          <mat-hint>Enter in the cell number of the owner</mat-hint>-->
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-row-input">
              <mat-label>Email</mat-label>
              <input
                matInput
                formControlName="email"
                placeholder="email">
              <!--          <mat-hint>Enter in the email of the owner</mat-hint>-->
            </mat-form-field>
          </div>
        </div>

        <mat-divider></mat-divider>
        <div class="div" formGroupName="physicalAddress">
          <p>Physical Address</p>
          <div class="col-12">
            <mat-form-field appearance="outline" class="col-12">
              <mat-label>Street Name</mat-label>
              <input
                matInput
                formControlName="street"
                placeholder="64 Mileage Way"
              >
              <!--          <mat-hint>Enter in the email of the owner</mat-hint>-->
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field appearance="outline" class="form-row-input">
              <mat-label>City</mat-label>
              <input
                matInput
                formControlName="city"
                placeholder="Dieseldof"
              >
              <!--          <mat-hint>Enter in the cell number of the owner</mat-hint>-->
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-row-input">
              <mat-label>Province</mat-label>
              <input
                matInput
                formControlName="province"
                placeholder="Limpopo">
              <!--          <mat-hint>Enter in the email of the owner</mat-hint>-->
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field appearance="outline" style="width: calc(70% - 8px)">
              <mat-label>Country</mat-label>
              <input
                matInput
                formControlName="country"
                placeholder="South Africa"
              >
              <!--          <mat-hint>Enter in the cell number of the owner</mat-hint>-->
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: calc(30% - 8px)">
              <mat-label>Postal Code</mat-label>
              <input
                matInput
                formControlName="postalCode"
                placeholder="0001">
              <!--          <mat-hint>Enter in the email of the owner</mat-hint>-->
            </mat-form-field>
          </div>
        </div>
        <div class="col-12 same-as-checkbox-container">
          <div class="">
            <mat-checkbox
              formControlName=sameAsPhysical
              labelPosition="before"
              [checked]=sameAsPhysical
              (change)="onSameAsPhysicalChecked()"
              [disabled] = "editable"
            >
              Same As Physical
            </mat-checkbox>
          </div>
        </div>
        <div class="div" formGroupName="postalAddress">
          <p>Postal Address</p>
          <div class="col-12">
            <mat-form-field appearance="outline" class="col-12">
              <mat-label>Street Name</mat-label>
              <input
                matInput
                formControlName="street"
                placeholder="64 Mileage Way"
                [readonly]="editable"
              >
              <!--          <mat-hint>Enter in the email of the owner</mat-hint>-->
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field appearance="outline" class="form-row-input">
              <mat-label>City</mat-label>
              <input
                matInput
                formControlName="city"
                placeholder="Dieseldof"
                [readonly]="editable"
              >
              <!--          <mat-hint>Enter in the cell number of the owner</mat-hint>-->
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-row-input">
              <mat-label>Province</mat-label>
              <input
                matInput
                formControlName="province"
                placeholder="Limpopo"
                [readonly]="editable"
              >
              <!--          <mat-hint>Enter in the email of the owner</mat-hint>-->
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field appearance="outline" style="width: calc(70% - 8px)">
              <mat-label>Country</mat-label>
              <input
                matInput
                formControlName="country"
                placeholder="South Africa"
                [readonly]="editable"
              >
              <!--          <mat-hint>Enter in the cell number of the owner</mat-hint>-->
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: calc(30% - 8px)">
              <mat-label>Postal Code</mat-label>
              <input
                matInput
                formControlName="postalCode"
                placeholder="0001"
                [readonly]="editable"
              >
              <!--          <mat-hint>Enter in the email of the owner</mat-hint>-->
            </mat-form-field>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="col-12 form-buttons-container">

          <button
            mat-raised-button
            class="company-add-button"
            color="primary"
            (click)="onSaveClicked()"
            *ngIf="newForm == true"
          >
            SAVE
          </button>

          <button
            mat-raised-button
            class="company-add-button"
            color="primary"
            (click)="onEditClicked()"
            *ngIf="newForm != true"
          >
            EDIT
          </button>
        </div>
      </form>
    </mat-card>
  </div>

</div>
