<mat-card class="example-card">
  <mat-card-header>
    <!--    <div mat-card-avatar class="example-header-image"></div>-->
    <mat-card-title>Supplier</mat-card-title>
    <mat-card-subtitle>Add supplier details</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form class="">
       <div class="div">
        <mat-form-field appearance="outline">
          <mat-label>Demand</mat-label>
          <input matInput placeholder="10">
          <!--          <mat-hint>Enter in the cell number of the owner</mat-hint>-->
        </mat-form-field>
      </div>
      <div class="div">
        <p>Lead Time</p>
        <div class="div">
          <mat-form-field appearance="outline">
            <mat-label>Frequency</mat-label>
            <mat-select>
              <mat-option value="primary">1</mat-option>
              <mat-option value="accent">2</mat-option>
              <mat-option value="warn">3</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Time Frame</mat-label>
            <mat-select>
              <mat-option value="primary">Daily</mat-option>
              <mat-option value="accent">Weakly</mat-option>
              <mat-option value="warn">Monthly</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="div">
        <p>Demand</p>
        <div class="div">
          <mat-form-field appearance="outline">
            <mat-label>Frequency</mat-label>
            <mat-select>
              <mat-option value="primary">1</mat-option>
              <mat-option value="accent">2</mat-option>
              <mat-option value="warn">3</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Time Frame</mat-label>
            <mat-select>
              <mat-option value="primary">Daily</mat-option>
              <mat-option value="accent">Weakly</mat-option>
              <mat-option value="warn">Monthly</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <mat-divider></mat-divider>
      <p>Contact Person</p>
      <div class="div">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Peter">
          <!--          <mat-hint>Enter in the firstname of the owner</mat-hint>-->
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Oliver">
          <!--          <mat-hint>Enter in the lastname of the owner</mat-hint>-->
        </mat-form-field>
      </div>

      <div class="div">
        <mat-form-field appearance="outline">
          <mat-label>Cell Number</mat-label>
          <input matInput placeholder="026589462">
          <!--          <mat-hint>Enter in the cell number of the owner</mat-hint>-->
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="example@gmail.com">
          <!--          <mat-hint>Enter in the email of the owner</mat-hint>-->
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>

    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
