<div>
  <div class="col-6 center">
    <mat-card>
      <form class="">
        <div class="">
          <mat-form-field appearance="outline" class="form-row-input">
            <mat-label>Company Name</mat-label>
            <input matInput placeholder="Company Name">
            <!--          <mat-hint>Enter in the name on the company</mat-hint>-->
          </mat-form-field>
        </div>
        <div class="div">
          <mat-form-field appearance="outline" class="form-row-input">
            <mat-label>VAT Number</mat-label>
            <input matInput placeholder="00000000">
            <!--          <mat-hint>Enter in the VAT Number</mat-hint>-->
          </mat-form-field>
        </div>
        <div class="div">
          <mat-form-field appearance="outline" class="form-row-input">
            <mat-label>Staff Count</mat-label>
            <input matInput placeholder="36">
            <!--          <mat-hint>Enter in the number of staff</mat-hint>-->
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>

        <p>Business owner</p>
        <div class="form-row">
          <mat-form-field appearance="outline" class="form-row-input">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Peter">
            <!--          <mat-hint>Enter in the firstname of the owner</mat-hint>-->
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-row-input">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Oliver">
            <!--          <mat-hint>Enter in the lastname of the owner</mat-hint>-->
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="outline" class="form-row-input">
            <mat-label>Cell Number</mat-label>
            <input matInput placeholder="026589462">
            <!--          <mat-hint>Enter in the cell number of the owner</mat-hint>-->
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-row-input">
            <mat-label>Email</mat-label>
            <input matInput placeholder="example@gmail.com">
            <!--          <mat-hint>Enter in the email of the owner</mat-hint>-->
          </mat-form-field>
        </div>
        <p>Contact Person</p>

        <div class="form-row">
          <mat-form-field appearance="outline" class="form-row-input">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Peter">
            <!--          <mat-hint>Enter in the firstname of the owner</mat-hint>-->
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-row-input">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Oliver">
            <!--          <mat-hint>Enter in the lastname of the owner</mat-hint>-->
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="outline" class="form-row-input">
            <mat-label>Cell Number</mat-label>
            <input matInput placeholder="026589462">
            <!--          <mat-hint>Enter in the cell number of the owner</mat-hint>-->
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-row-input">
            <mat-label>Email</mat-label>
            <input matInput placeholder="example@gmail.com">
            <!--          <mat-hint>Enter in the email of the owner</mat-hint>-->
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <p>Working Environment</p>

        <div class="form-row">
          <mat-form-field appearance="outline" class="form-row-input">
            <mat-label>Industry</mat-label>
            <mat-select>
              <mat-option value="primary">Primary</mat-option>
              <mat-option value="accent">Accent</mat-option>
              <mat-option value="warn">Warn</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="outline" class="form-row-input">
            <mat-label>Business Type</mat-label>
            <mat-select>
              <mat-option value="primary">Primary</mat-option>
              <mat-option value="accent">Accent</mat-option>
              <mat-option value="warn">Warn</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="outline" class="form-row-input">
            <mat-label>Production Style</mat-label>
            <mat-select>
              <mat-option value="primary">Primary</mat-option>
              <mat-option value="accent">Accent</mat-option>
              <mat-option value="warn">Warn</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </form>
    </mat-card>
  </div>

</div>
