<div class="div">
  <div class="">

    <mat-card>
      <mat-card-header>
        <mat-card-title>Product</mat-card-title>
        <mat-card-subtitle>Add product details</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form class="">
          <div class="row">
            <mat-form-field appearance="outline" class="form-row-input">
              <mat-label>Product Supplied</mat-label>
              <input matInput placeholder="Coffee Beans">
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-row-input">
              <mat-label>Average Quantity</mat-label>
              <input matInput placeholder="20">
            </mat-form-field>
          </div>
          <div class="">
            <p>Lead Time</p>
            <div class="row">
              <mat-form-field appearance="outline" class="form-row-input">
                <mat-label>Frequency</mat-label>
                <mat-select>
                  <mat-option value="primary">1</mat-option>
                  <mat-option value="accent">2</mat-option>
                  <mat-option value="warn">3</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="form-row-input">
                <mat-label>Time Frame</mat-label>
                <mat-select>
                  <mat-option value="primary">Daily</mat-option>
                  <mat-option value="accent">Weakly</mat-option>
                  <mat-option value="warn">Monthly</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="div">
            <p>Order Frequency</p>
            <div class="row">
              <mat-form-field appearance="outline" class="form-row-input">
                <mat-label>Frequency</mat-label>
                <mat-select>
                  <mat-option value="primary">1</mat-option>
                  <mat-option value="accent">2</mat-option>
                  <mat-option value="warn">3</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="form-row-input">
                <mat-label>Time Frame</mat-label>
                <mat-select>
                  <mat-option value="primary">Daily</mat-option>
                  <mat-option value="accent">Weakly</mat-option>
                  <mat-option value="warn">Monthly</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <mat-divider></mat-divider>

        </form>
      </mat-card-content>
      <mat-card-actions style="display: flex; justify-content: flex-end">
        <button
          mat-button
          *ngIf="saveable"
          (click)="onSaveClicked()"
        >SAVE</button>
        <button
        mat-button
        *ngIf="!saveable"
        (click)="onEditClicked()"
        >EDIT</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
